<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>UserInfo</title>
<link rel="stylesheet" th:href="@{/css/test.css}">
</head>
<body>
   <h1>UserInfo</h1>
   <table>
      <tr>
         <th>ID</th>
         <th>姓名</th>
         <th>密码</th>
         <th>操作</th>
      </tr>
      <tr th:each="user: ${userInfoList}">
          <td th:text="${user.id}">0</td>
          <td th:text="${user.name}">zhangsan</td>
          <td th:text="${user.pwd}">1234</td>
          <td>
             <a th:href="@{/addUserInfo}">新增</a> |
             <a th:href="@{/deleteUserInfo(id=${user.id})}">删除</a>  
          </td>
      </tr>
   </table>
</body>
</html>